xmlAndXslt/lab3-1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="document">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:Name" name="firstname" />
				<xs:element type="xs:Name" name="lastname" />
				<xs:element type="xs:date" name="birthday" />
				<xs:element type="xs:int" name="age" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>