xmlAndXslt/tabel.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="tabel">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="tabelType" name="clerk" />
				<xs:element type="tabelType" name="worker" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:complexType name="tabelType">
		<xs:sequence>
			<xs:element type="xs:string" name="name" />
			<xs:element type="xs:date" name="birthday" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>